<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mapper.DaangnMapper">
    <select id="selectDaangnSearcedDatas" resultType="DaangnVO">
        SELECT * FROM articles WHERE article_title = #{itemTitle}
    </select>
    <insert id="insertDaangnSearcedDatas">
        INSERT INTO articles(
            article_title, 
            article_avrPrice,
            article_maxPrice,
            article_minPrice,
            article_maxImgStr,
            article_minImgStr,
            article_maxArticleTitle,
            article_minArticleTitle,
            article_count,
            chartDomain_firstX,
            chartDomain_secondX,
            chartDomain_thirdX,
            chartDomain_fourthX,
            chartData_firstY,
            chartData_secondY,
            chartData_thirdY,
            chartData_fourthY)
        VALUE(#{itemTitle}, #{avrItemPrice}, #{maxItemPrice}, #{minItemPrice}, #{maxImgSrc}, #{minImgSrc}, #{maxArticleTitle}, #{minArticleTitle}, #{articleCount}, #{chartDomain_firstX}, #{chartDomain_secondX}, #{chartDomain_thirdX}, #{chartDomain_fourthX}, #{chartData_firstY}, #{chartData_secondY}, #{chartData_thirdY}, #{chartData_fourthY});
    </insert>
</mapper>


