<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mapper.DaangnMapper">
    <select id="searchItemPrice" resultType="DaangnVO">
        SELECT * FROM NAME
    </select>
    <insert id="insertDaangnSearcedDatas">
        INSERT INTO articles(
            article_title, 
            article_avrPrice,
            article_maxPrice,
            article_minPrice,
            article_maxImgStr,
            article_minImgStr)
        VALUE(#{itemTitle}, #{avrItemPrice}, #{maxItemPrice}, #{minItemPrice}, #{maxImgSrc}, #{minImgSrc});
    </insert>
</mapper>


